.header {
    height: 10vh;
    color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-title {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .title-element {
            cursor: pointer;
            width: 200px;
            justify-content: flex-start;
            h3 {
                display: flex;
                justify-content: flex-start;
                margin-top: 5px;

                &.last-name {
                    padding-left: 10px;
                }
            }
        }
    }

    .header-navbar {
        width: 50%;
        
        ul {
            display: flex;
            justify-content: center;

            li {
                cursor: pointer;
                margin: 0px 10px;
                display: flex;
                list-style: none;
    
            }
        }

    }

    .header-contact {
        margin-right: 20px;
        display: flex;
        justify-content: flex-end;
        width: 25%;
    }

    .test1 {
        cursor: pointer;
        outline: none;
        appearance: none;
        border: none;
        background: none;
    }
}