.page-component {
  height: 100%;
  width: 100%;
  .page-container {
      margin: 0px 1vh;
      height: 94vh;
      left: 5vh;
      right: 5vh;
      margin-bottom: 1vh;
      overflow: scroll;
  
      .element {
        position: relative;
        height: 100%;
        width: 100%;
      }
    }
}