* {
  box-sizing: border-box;
  margin: 0px;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.page-container {
  margin: 0px 10px;
  height: 95vh;
  left: 5vh;
  right: 5vh;
  margin-bottom: 10px;
  overflow: scroll;
}